# Site wide configuration
title: "ইন্টেলিজেন্ট সিস্টেমের সন্ধানে" # আপনার সাইটের নাম
description: "ডেটা সায়েন্স এবং এআই রোডম্যাপ নিয়ে আমার ব্লগ"
logo: 
teaser: 
locale: bn # ভাষা বাংলা করার জন্য 'bn' দিন
url: "https://shadikulislam.github.io" # আপনার গিটহাব ইউআরএল
baseurl: "" # এটি অবশ্যই খালি রাখবেন

# Jekyll configuration
sass:
  sass_dir: _sass
  style: compressed
permalink: /:categories/:title/
kramdown:
  toc_levels: 1..2
highlighter: rouge
plugins:
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed

# Site owner (আপনার প্রোফাইল তথ্য)
owner:
  name: "Shadikul Islam"
  email: 
  twitter: 
  google:
    ad-client:
    ad-slot:
  bio: "ডেটা সায়েন্স এবং এআই নিয়ে কাজ করছি।"
  avatar: bio-photo.jpg 
  disqus-shortname:

include:
  - .htaccess
exclude:
  - "*.less"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - config
  - gulpfile.js
  - lib
  - log
  - node_modules
